body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    background-color:burlywood;
    text-align: center;
    margin-top: 25%;
}

button{
    border-radius: 10px;
    border-width: none;
    cursor: pointer;
}

.input-css {
    width: 300px;
}

.hidden {
    visibility: hidden; 
    max-height: 0;
}

.playerData-div{
    padding: 10px;
}

.players-div {
  width: 250px; /* Sets the width of the content area */
  height: 100px; /* Sets the height of the content area */
  background-color: #f0f0f0; /* Adds a background color */
  border: 2px solid black; /* Adds a solid border */
  padding: 20px; /* Adds space between content and border */
  margin: 30px; /* Adds space outside the border, between other elements */
  border-radius: 10px; /* Optional: Rounds the corners */
}