body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    background-color:burlywood;
    text-align: center;
    margin-top: 25%;
}

button{
    border-radius: 10px;
    border-width: none;
    cursor: pointer;
}

.input-css {
    width: 300px;
}

.hidden {
    visibility: hidden; 
    max-height: 0;
}

.playerData-div{
    padding: 10px;
}

.players-div {
  /* Calculates exactly 50% width minus half the gap for spacing */
  width: calc(50% - 10px); 
  /* Ensures padding/border is included in the width calculation */
  box-sizing: border-box; 
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap onto a new line */
  gap: 20px; /* Adds consistent spacing between boxes */
}

html {
  --s: 140px; /* control the size*/
  --c1: #170409;
  --c2: #67917a;
  
  --_g: #0000 52%,var(--c1) 54% 57%,#0000 59%; 
  background: 
   radial-gradient(farthest-side at -33.33% 50%,var(--_g)) 0 calc(var(--s)/2),
   radial-gradient(farthest-side at 50% 133.33%,var(--_g)) calc(var(--s)/2) 0,
   radial-gradient(farthest-side at 133.33% 50%,var(--_g)),
   radial-gradient(farthest-side at 50% -33.33%,var(--_g)),
   var(--c2);
  background-size: calc(var(--s)/4.667) var(--s),var(--s) calc(var(--s)/4.667);
}
