body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    background-color:burlywood;
    text-align: center;
    margin-top: 25%;
}
button{
    border-radius: 10px;
    border-width: none;
    cursor: pointer;
}
.input-css {
    width: 300px;
}